body {
    font-family: Arial, sans-serif;
    background-color: #c4ef73;
    margin: 0;
    padding: 20px;
  }
  
  h1,
  h2 {
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 200px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  .footer-text{
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    margin: 0;
  }
  
  addendum{
    color: white;
    font-size: 1.5 rem;

  }
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* Separate color for the form */
    border-radius: 10px; /* Rounded corners for the form */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect for the form */
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
  }
  
  /* Adjust input width to match the form styling */
  input[type="text"] {
    width: calc(100% - 160px);
  }
  
  